@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Bold.ttf');
}

body {
  font-family: 'Montserrat';
  background: #f4f6f8;
  margin: 0;
  padding: 0;
  color: #333;
  padding-top: 80px;
}

nav {
  background-color: #79b153;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu li {
    position: relative;
    color: rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu a, .menu span {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
    cursor: pointer;
  }
  
  .submenu {
    color: #000000;
    position: absolute;
    top: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 150px;

  }
  
  .submenu li {
    padding: 10px;
  }
  
  .dropdown:hover .submenu {
    display: block;
  }
  